@use './scss/catppuccin' as *;
@use './scss/reset';
@use './scss/mixins' as *;

window.Bar {
  background: transparent;
  color: $ctp-text;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 10pt;

  > centerbox {
    background: $ctp-base;
    border: 1px solid $ctp-surface0;
    border-radius: 10px;
    margin: 8px;
    padding: 2px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
    padding: 4px 12px;
    color: $ctp-text;
    transition: background-color 200ms;

    &:hover {
      background: $ctp-surface0;
    }
  }

  menubutton > button {
    border-radius: 8px;
    padding: 4px 12px;
  }
}
