// Catppuccin Mocha color tokens
// Source: https://github.com/catppuccin/catppuccin
// Matches values in dot_config/waybar/style/catppuccin-themes/mocha.css

// Base
$ctp-base:     #1e1e2e;
$ctp-mantle:   #181825;
$ctp-crust:    #11111b;

// Text
$ctp-text:     #cdd6f4;
$ctp-subtext0: #a6adc8;
$ctp-subtext1: #bac2de;

// Surface
$ctp-surface0: #313244;
$ctp-surface1: #45475a;
$ctp-surface2: #585b70;

// Overlay
$ctp-overlay0: #6c7086;
$ctp-overlay1: #7f849c;
$ctp-overlay2: #9399b2;

// Accent colors
$ctp-blue:      #89b4fa;
$ctp-lavender:  #b4befe;
$ctp-sapphire:  #74c7ec;
$ctp-sky:       #89dceb;
$ctp-teal:      #94e2d5;
$ctp-green:     #a6e3a1;
$ctp-yellow:    #f9e2af;
$ctp-peach:     #fab387;
$ctp-maroon:    #eba0ac;
$ctp-red:       #f38ba8;
$ctp-mauve:     #cba6f7;
$ctp-pink:      #f5c2e7;
$ctp-flamingo:  #f2cdcd;
$ctp-rosewater: #f5e0dc;
